body {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	overflow: hidden;
	background-image: url("images/backdrop2.png");
	background-size: cover;
}

.absolute {
	position: absolute;
	right: 200px;
}

.knot-wrapper {
	margin-top: 15px;
	display: block;
	height: 1000px;
	width: 200px;
	padding-top: 100px;
}

.knot-img {
	z-index: 10;
	position: relative;
	height: 160px;
	width: 160px;
}

.knot-img:hover {
	transform: scale(1.1, 1.1);
	filter:  saturate(1.5);
}

.tree-wrapper {
	width: 200px;
	height: 100%;
}

.tree {
	z-index: 5;
	position: relative;
	height: 1800px;
		bottom: 1000px;
	width: 2000px;
		right: 900px;
}

.grass {
	z-index: 6;
	position: absolute;
	height: 200px;
		bottom: -50px;
	width: 2000px;
		left: -100px;
}

.mobile-title {
	display: none;
	color: white;
	background-color: gray;
}

@media only screen and (max-width: 700px) {
  .tree-wrapper {
	display: none;
  }
  body {
	background-image: url("images/tree-backdrop.png");
	text-align: center;
  }
  .knot-wrapper {
	text-align: center;
	width: 100%;
	padding-top: 0;
  }
  .knot-img {
	width: 200px;
	height: 200px;
	margin-top: 10px;
	display: block;
	margin-left: auto;
    margin-right: auto;
  }
	.absolute {
		position: none;
		right: 0;
	}
	.grass {
		display: none;
	}
	.mobile-title {
		display: inherit;
	}
}
